// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@import "~bootswatch/dist/flatly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/flatly/bootswatch";

@import '~@fortawesome/fontawesome-free/css/all.min.css';

#linksList .sortable-ghost {
  opacity: 0;
}

.iPhone6S {
  /* this is the render are dimension */
  /* media queries look up to this */
  width:375px;
  height:667px;
  transform-origin: 0 0;
  transform:scale(0.9);
  /* you can calculate it by something like :
     108/326*2 = 0.663 => 0.67*/
  /* zoom:...; */ /* This is non-standard feature */
  /* FireFox and Opera don't support it */
}

.iphone-border {
  position: absolute;
  transform: scale(0.623);
  top: -332px;
  left: -124px;
}

@media only screen and (min-width:990px) {
  .main-content {
    //margin-top: 100px;
  }
}
